@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #E5E5E5;
  height: 100%;
}

.page-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 1200px;
  min-height: 100%;
  background-color: #FFFFFF;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Buttons*/

.button-navigation {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #756157;
}

.search-hotels-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #756157;
}

.newsletter-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #82B3D3;
}

.button-apply {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #82B3D3;
}

.button-reset {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.product-card-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756157;
}

.product-card-button-fav {
  background-color: #82B3D3;
}

.product-card-button-selected {
  background-color: #7DB54F;
}

/*Header*/

.page-header {
  width: 1200px;
  margin-bottom: -5px;
}

.navigation {
  display: flex;
  align-items: flex-start;
  width: 1060px;
  margin-bottom: -5px;
  padding: 0 70px;
}

.navigation-logo-link {
  display: block;
  margin-right: 47px;
  z-index: 1;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 500px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation-user {
  width: 300px;
  margin-left: auto;
  justify-content: flex-end;
}

.navigation-item:not(:last-child) {
  margin-right: 34px;
}

.navigation-link {
  display: block;
  padding: 20px 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  color: inherit;
  background-color: inherit;
}

.user-item {
  min-height: 66px;
  min-width: 42px;
  padding: 0;
  position: relative;
}

/*Index*/

.main-index {
  text-align: center;
}

.main-container {
  flex-grow: 1;
}

.welcome {
  background-image: url("../images/divider.svg"), url("../images/welcome-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto, cover;
  background-position-y: bottom, 0;
  background-color: #F5F5F5;
  padding: 51px 70px 82px;
}

.welcome-image {
  display: block;
  margin: 0 auto;
}

.intro {
  margin: 0 auto;
  width: 1200px;
  padding-top: 63px;
  padding-bottom: 90px;
}

.intro-short {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 0 31px;
}

.intro-reasons {
  font-weight: 400;
  color: #333333;
  margin: 0;
  padding: 0;
}

.advantages-city {
  display: flex;
  margin: 0;
  padding: 0;
}

.advantages-city-true {
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  background-color: #82B3D3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  padding: 92px 85px;
  box-sizing: border-box;
}

.photo-container {
  display: flex;
  flex-direction: column;
}

.advantages-photo {
  display: block;
  object-fit: cover;
  flex-grow: 1;
}

.advantages-number {
  font-weight: 400;
}

.advantages-sublist {
  display: flex;
  align-items: stretch;
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantages-item {
  width: 400px;
}

.advantages-canyon {
  display: flex;
  align-items: stretch;
}

.advantages-list {
  display: flex;
  align-items: stretch;
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0 0 30px 0;
}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  margin: 30px 0 0 0;
}

.advantages-description-city {
  color: #FFFFFF;
}

.advantages-description-bridge {
  color: #FFFFFF;
}

.advantages-item-house {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-gift {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-canyon-bridge {
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  background-color: #82B3D3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  padding: 92px 85px;
  box-sizing: border-box;
}

.advantages-item-area {
  font-size: 18px;
  line-height: 21px;
  background-color: rgba(131, 179, 211, 0.12);
  padding: 103px 85px 102px 85px;
  box-sizing: border-box;
}

.advantages-item-road {
  font-size: 18px;
  line-height: 21px;
  background-color: rgba(131, 179, 211, 0.2);
  padding: 103px 85px 102px 85px;
  box-sizing: border-box;
}

.advantages-item-tourist {
  font-size: 18px;
  line-height: 21px;
  background-color: rgba(131, 179, 211, 0.12);
  padding: 103px 85px 102px 85px;
  box-sizing: border-box;
}

.search-hotels {
  padding: 91px 70px 93px;
}

.search-hotels-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 0 29px 0;
}

.search-hotels-data {
  font-weight: 400;
  color: #333333;
  margin: 0 0 56px 0;
}

.newsletter {
  font-weight: 400;
  color: #FFFFFF;
  background-image: url("../images/subscribe-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #F5F5F5;
  padding: 94px 70px;
}

.newsletter-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0 0 29px 0;
}

.newsletter-info {
  margin: 0 0 46px 0;
}

/*Footer*/

.page-footer {
  text-align: center;
  margin: 0 auto;
  width: 1200px;
}

.page-footer-container {
  display: flex;
  width: 1060px;
  margin: 40px 70px 30px;
}

.contacts-social {
  min-width: 142px;
  margin-right: auto;
}

.contacts-social-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.contacts-phone {
  width: 720px;
  margin-right: auto;
}

.contacts-phone-link {
  display: block;
  text-decoration: none;
  color: #000000;
  font-size: 40px;
  line-height: 40px;
}

.contacts-logo {
  width: 115px;
}

/* Catalog */

.main-inner {
  background-color: #FFFFFF;
}

.catalog-hotels {
  background-image: url("../images/catalog/filter-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #F5F5F5;
  color: #FFFFFF;
  width: 1060px;
  padding: 35px 70px 70px;
}

.product-list-wrapper {
  padding: 50px 70px 25px;
}

.sorting-container {
  display: flex;
  align-items: center;
  margin-bottom: 56px;
}

.product-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.pagination-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
  max-width: 470px;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.select-qty-container {
  display: flex;
  align-items: center;
}

.select-description {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.inner-select-container {
  display: flex;
  margin-left: 51px;
  align-items: center;
  width: 160px;
  position: relative;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  color: #FFFFFF;
  margin: 0 0 10px 0;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-item {
  position: relative;
}

.breadcrumbs-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  display: block;
}

.catalog-filter-title {
  text-transform: capitalize;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 21px;
}

.sorting-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 191px 0 0;
}

.sorting-select-container {
  display: flex;
  align-items: center;
  width: 290px;
  position: relative;
}

.catalog-view-button {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 200px;
  margin: 0 0 0 auto;
  padding: 0;
  list-style-type: none;
}

.view-button-item {
  margin: 5px 8px 5px 0;
}

.product-card {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.product-card-link {
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
}

.product-card-rating {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #82B3D3;
  display: block;
  min-width: 60px;
  min-height: 60px;
  padding: 12px 0;
  box-sizing: border-box;
  border: 1px solid #82b3d3;
  border-radius: 4px;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.total-qty {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.catalog-newsletter {
  text-align: center;
  color: #333333;
  padding: 94px 70px;
}

.catalog-newsletter-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin: 0 0 29px 0;
}

.field {
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin: 0 0 29px 0;
}

.catalog-newsletter-info {
  margin: 0 0 46px 0;
}
